<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
	<title>Backbone.js, Require.js, and jQuery Mobile</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/themes/default/jquery.mobile.css">
    <script data-main="scripts/app" src="scripts/lib/require.js"></script>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories">
  
	<div data-role="header">
		<h1>Categories</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li><a href="#characters?all">Characters</a></li>
        </ul>
	</div><!-- /content -->
</div>

<div id="character" data-role="page" data-title="Character">

    <div data-role="header">
        <h1>Character</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
    </div>
</div>

<script id="characterView" type="text/template">
    <% if (character.is_being_created()) { %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#charactercreate/<%= character.id %>">Character Creation</a></li>
    </ul>
    <% } %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/skills/<%= character.id %>/all">Skills</a></li>
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/disciplines/<%= character.id %>/all">Disciplines</a></li>
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/backgrounds/<%= character.id %>/all">Backgrounds</a></li>
    </ul>
</script>

<div id="character-create" data-role="page" data-title="Create Character">

    <div data-role="header">
        <h1>Create Character</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        createodapage
    </div>
</div>

<script id="characterCreateView" type="text/template">
    <% var creation = character.get("creation"); %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li data-role="list-divider">Skills<span class="ui-li-count">10</span></li>
        <% _.each(_.range(5, 0, -1), function(i) { %>
        <% var n = "skills_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/skills/<%= character.id %>/pick/<%= i %>"><%= creation.get(n) %> skill picks at rating <%= i %></a></li>
        <% }}); %>
        <li data-role="list-divider">Disciplines<span class="ui-li-count">2</span></li>
        <% _.each(_.range(2, 0, -1), function(i) { %>
        <% var n = "disciplines_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/disciplines/<%= character.id %>/pick/<%= i %>">Pick in clan discipline at rating <%= i %></a></li>
        <% }}); %>
        <li data-role="list-divider">Backgrounds<span class="ui-li-count">3</span></li>
        <% _.each(_.range(3, 0, -1), function(i) { %>
        <% var n = "backgrounds_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/backgrounds/<%= character.id %>/pick/<%= i %>">Pick a background at rating <%= i %></a></li>
        <% }}); %>
    </ul>
</script>

<div id="characters-all" data-role="page" data-title="All Characters">
    <div data-role="header">
        <h1>Characters</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
    </div><!-- /content -->
</div>

<div id="simpletraitcategory-all" data-role="page" data-title="SimpleTraitCategoryAll">
    <div data-role="header">
        <h1>Must do the template thing with this too muahahaha</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="simpleTraitCategoryView" type="text/template">
    <ul>
        <li><a href="#simpletraits/<%= category %>/<%= character.id %>/new">Add New <%= category %></a></li>
    </ul>
    <ul>
        <% if (character.has(category)) { _.each(character.get(category), function(e) { %>
        <li>
            <a href="#simpletrait/<%= category %>/<%= character.id %>/<%= e.id %>" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %> x<%= e.get("value") %></a>
        </li>
        <% }); } %>
    </ul>
</script>

<div id="simpletrait-change" data-role="page" data-title="SimpleTraitChange">
    <div data-role="header">
        <h1>Simple Trait to Change</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="simpleTraitChangeView" type="text/template">
    <p><%= c.get("name") %> <%= b.get("name") %> <%= b.get("value") %></p>
    <p>
        <label for="slider">Slider:</label>
        <input type="range" name="simpleTraitValue" id="slider" value="<%= b.get('value') %>" min="1" max="5">
    </p>
    <p>
        <button class="remove ui-btn">Remove</button>
        <button class="save ui-btn">Save Changes</button>
    </p>
</script>

<div id="victims-all" data-role="page" data-title="VictimsAll">
    <div data-role="header">
        <h1>Victims</h1>
    </div>

    <div role="main" class="ui-content">
        <ul>
            <li>All</li>
            <li>Idle</li>
            <li>Occupied</li>
        </ul>
    </div>
</div>

<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header">
	    <h1>Animals</h1>
      </div><!-- /header -->
  
      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header">
	    <h1>Colors</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header">
	    <h1>Vehicles</h1>
      </div><!-- /header -->
  
      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="simpletrait-new" data-role="page" data-title="New Simple Trait">
    <div data-role="header">
        <h1>New Simple Trait</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<div id="character-new" data-role="page" data-title="New Character">
    <div data-role="header">
        <h1>New Character</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="characterNewView" type="text/template">
    <form>
         <label for="characterName">Name:</label>
         <input type="text" name="characterName" id="characterName" value="New Character Name">
    </form>
    <p>
        <button class="cancel ui-btn">Cancel</button>
        <button class="save ui-btn">Save Changes</button>
    </p>
</script>

<script id="characterLinkItems" type="text/template">
    <ul>
        <li><a href="#characternew">Add New Vampire</a></li>
    </ul>
    <ul data-role="listview" data-inset="true">
        <% collection.each(function(e) { %>
        <li>
            <a href="#character?<%= e.id %>" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %></a>
        </li>
        <% }); %>
    </ul>
</script>

<script id="simpletraitcategoryDescriptionItems" type="text/template">
    <% if (freeValue) { %>
        <p>Pick one for value <%= freeValue %></p>
    <% } %>
    <ul data-role="listview" data-inset="true">
    <% collection.each(function(e) { %>
        <li>
            <a name="<%= e.get('name') %>"  href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %></a>
        </li>
    <% }); %>
    </ul>
</script>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">

      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li-static">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

</body>
</html>
