<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
	<title>Backbone.js, Require.js, and jQuery Mobile</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/themes/default/jquery.mobile.css">
    <link rel="stylesheet" href="css/printable_sheet.css">
    <script data-main="scripts/app" src="scripts/lib/require.js"></script>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories">
  
	<div data-role="header">
		<h1>Categories</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li><a href="#characters?all">Characters</a></li>
        </ul>
	</div><!-- /content -->
</div>

<div id="character" data-role="page" data-title="Character">

    <div data-role="header">
        <h1>Character</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
    </div>
</div>

<script id="characterView" type="text/template">
    <% if (character.is_being_created()) { %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#charactercreate/<%= character.id %>">Character Creation</a></li>
    </ul>
    <% } %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/skills/<%= character.id %>/all">Skills</a></li>
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/disciplines/<%= character.id %>/all">Disciplines</a></li>
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li><a href="#simpletraits/backgrounds/<%= character.id %>/all">Backgrounds</a></li>
    </ul>
</script>

<div id="character-create" data-role="page" data-title="Create Character">

    <div data-role="header">
        <h1>Create Character</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        createodapage
    </div>
</div>

<script id="characterCreateView" type="text/template">
    <% var creation = character.get("creation"); %>
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        <li data-role="list-divider">Skills<span class="ui-li-count">10</span></li>
        <% _.each(_.range(5, 0, -1), function(i) { %>
        <% var n = "skills_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/skills/<%= character.id %>/pick/<%= i %>"><%= creation.get(n) %> skill picks at rating <%= i %></a></li>
        <% }}); %>
        <li data-role="list-divider">Disciplines<span class="ui-li-count">2</span></li>
        <% _.each(_.range(2, 0, -1), function(i) { %>
        <% var n = "disciplines_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/disciplines/<%= character.id %>/pick/<%= i %>">Pick in clan discipline at rating <%= i %></a></li>
        <% }}); %>
        <li data-role="list-divider">Backgrounds<span class="ui-li-count">3</span></li>
        <% _.each(_.range(3, 0, -1), function(i) { %>
        <% var n = "backgrounds_" + i + "_remaining"; %>
        <% if (creation.get(n) > 0) { %>
        <li><a href="#charactercreate/simpletraits/backgrounds/<%= character.id %>/pick/<%= i %>">Pick a background at rating <%= i %></a></li>
        <% }}); %>
    </ul>
</script>

<div id="characters-all" data-role="page" data-title="All Characters">
    <div data-role="header">
        <h1>Characters</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
    </div><!-- /content -->
</div>

<div id="simpletraitcategory-all" data-role="page" data-title="SimpleTraitCategoryAll">
    <div data-role="header">
        <h1>Must do the template thing with this too muahahaha</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="simpleTraitCategoryView" type="text/template">
    <ul>
        <li><a href="#simpletraits/<%= category %>/<%= character.id %>/new">Add New <%= category %></a></li>
    </ul>
    <ul>
        <% if (character.has(category)) { _.each(character.get(category), function(e) { %>
        <li>
            <a href="#simpletrait/<%= category %>/<%= character.id %>/<%= e.id %>" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %> x<%= e.get("value") %></a>
        </li>
        <% }); } %>
    </ul>
</script>

<div id="simpletrait-change" data-role="page" data-title="SimpleTraitChange">
    <div data-role="header">
        <h1>Simple Trait to Change</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="simpleTraitChangeView" type="text/template">
    <p><%= c.get("name") %> <%= b.get("name") %> <%= b.get("value") %></p>
    <p>
        <label for="slider">Slider:</label>
        <input type="range" name="simpleTraitValue" id="slider" value="<%= b.get('value') %>" min="1" max="5">
    </p>
    <p>
        <button class="remove ui-btn">Remove</button>
        <button class="save ui-btn">Save Changes</button>
    </p>
</script>

<div id="victims-all" data-role="page" data-title="VictimsAll">
    <div data-role="header">
        <h1>Victims</h1>
    </div>

    <div role="main" class="ui-content">
        <ul>
            <li>All</li>
            <li>Idle</li>
            <li>Occupied</li>
        </ul>
    </div>
</div>

<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header">
	    <h1>Animals</h1>
      </div><!-- /header -->
  
      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header">
	    <h1>Colors</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header">
	    <h1>Vehicles</h1>
      </div><!-- /header -->
  
      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="simpletrait-new" data-role="page" data-title="New Simple Trait">
    <div data-role="header">
        <h1>New Simple Trait</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<div id="character-new" data-role="page" data-title="New Character">
    <div data-role="header">
        <h1>New Character</h1>
    </div>

    <div role="main" class="ui-content">
    </div>
</div>

<script id="characterNewView" type="text/template">
    <form>
         <label for="characterName">Name:</label>
         <input type="text" name="characterName" id="characterName" value="New Character Name">
    </form>
    <p>
        <button class="cancel ui-btn">Cancel</button>
        <button class="save ui-btn">Save Changes</button>
    </p>
</script>

<script id="characterLinkItems" type="text/template">
    <ul>
        <li><a href="#characternew">Add New Vampire</a></li>
    </ul>
    <ul data-role="listview" data-inset="true">
        <% collection.each(function(e) { %>
        <li>
            <a href="#character?<%= e.id %>" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %></a>
        </li>
        <% }); %>
    </ul>
</script>

<script id="simpletraitcategoryDescriptionItems" type="text/template">
    <% if (freeValue) { %>
        <p>Pick one for value <%= freeValue %></p>
    <% } %>
    <ul data-role="listview" data-inset="true">
    <% collection.each(function(e) { %>
        <li>
            <a name="<%= e.get('name') %>"  href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><%= e.get("name") %></a>
        </li>
    <% }); %>
    </ul>
</script>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">

      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li-static">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

<div id="printable-sheet" data-role="page" data-title="Printable Sheet">
    <div data-role="header">
        <h1>Printable Sheet</h1>
    </div>

    <div role="main" class="ui-content">
        <h3>[Name]</h3>

        <table width="100%">
            <tr>
                <td width="17%"></td>

                <td width="17%"></td>

                <td width="16%"></td>

                <td width="16%"></td>

                <td width="17%"></td>

                <td width="17%"></td>
            </tr>

            <tr>
                <th colspan="6">[Race] [?NPC True]NPC[/?]</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold">Player</td>

                <td align="left">[Player]</td>

                <td align="right" style="font-weight: bold">XP&nbsp;Unspent</td>

                <td align="left">[XPUnspent]</td>

                <td align="right" style="font-weight: bold">Status</td>

                <td align="left">[PlayStatus]</td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold">Character&nbsp;ID</td>

                <td align="left">[ID]</td>

                <td align="right" style="font-weight: bold">
                    Total&nbsp;XP&nbsp;Earned</td>

                <td align="left">[XPEarned]</td>

                <td align="right" style="font-weight: bold">Narrator</td>

                <td align="left">[Narrator]</td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold"></td>

                <td align="left"></td>

                <td align="right" style="font-weight: bold"></td>

                <td align="left"></td>

                <td align="right" style="font-weight: bold">Last&nbsp;Modified</td>

                <td align="left">[LastModified]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold">Clan</td>

                <td align="left">[Clan]</td>

                <td align="right" style="font-weight: bold">Generation</td>

                <td align="left">[Generation]</td>

                <td align="right" style="font-weight: bold">Archetype</td>

                <td align="left">[Nature]</td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold">Sect</td>

                <td align="left">[Sect]</td>

                <td align="right" style="font-weight: bold">Title</td>

                <td align="left">[Title]</td>
            </tr>

            <tr>
                <td align="right" style="font-weight: bold">Coterie/Pack</td>

                <td align="left">[Coterie]</td>

                <td align="right" style="font-weight: bold">Sire</td>

                <td align="left">[Sire]</td>

                <td align="right" style="font-weight: bold"></td>

                <td align="left"></td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr></tr>
        </table>

        <table width="100%">
            <tr>
                <td width="33%"></td>

                <td width="33%"></td>

                <td width="33%"></td>
            </tr>

            <tr>
                <th>[Blood] Blood</th>

                <th></th>

                <th>Morality Path</th>
            </tr>

            <tr>
                <!--[divider]-->

                <td align="center" valign="top">[Tally Blood TempBlood]</td>

                <th></th>

                <td align="center" valign="top">[Path]</td>
            </tr><!--[divider <br>]-->

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>[Willpower] Willpower</th>

                <th></th>

                <th>[PathTraits] Morality Traits</th>
            </tr>

            <tr>
                <!--[divider]-->

                <td align="center" valign="top">[Tally Willpower
                    TempWillpower]</td>

                <th></th>

                <td align="center" valign="top">[Tally PathTraits
                    TempPathTraits]</td>
            </tr><!--[divider <br>]-->

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>[#Physical] Physical Pool</th>

                <th>[#Social] Social Pool</th>

                <th>[#Mental] Mental Pool</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Physical 2][/repeat]</td>

                <td align="left" valign="top">[repeat][Social 2][/repeat]</td>

                <td align="left" valign="top">[repeat][Mental 2][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>[#Abilities] Skills</th>

                <th align="left" colspan="2">Disciplines</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Abilities 2][/repeat]</td>

                <td align="left" colspan="2" valign="top">
                    [repeat][Disciplines][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>[#Status] Status</th>

                <th>[#Backgrounds] Backgrounds</th>

                <th>Rituals</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Status 2][/repeat]</td>

                <td align="left" valign="top">[repeat][Backgrounds 2][/repeat]</td>

                <td align="left" valign="top">[repeat][Rituals][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>[#Influences] Influences</th>

                <th>Derangements</th>

                <th>[#Miscellaneous] Miscellaneous Traits</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Influences][/repeat]</td>

                <td align="left" valign="top">[repeat][Derangements][/repeat]</td>

                <td align="left" valign="top">[repeat][Miscellaneous][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>Merits</th>

                <th>Flaws</th>

                <th>Blood Bonds/Vinculum</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Merits][/repeat]</td>

                <td align="left" valign="top">[repeat][Flaws][/repeat]</td>

                <td align="left" valign="top">[repeat][Bonds][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th>Boons</th>

                <th>Equipment</th>

                <th>Health Levels</th>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Boons][/repeat]</td>

                <td align="left" valign="top">[repeat][Equipment][/repeat]</td>

                <td align="left" valign="top">[repeat][HealthLevels
                    2][/repeat]</td>
            </tr>

            <tr>
                <th colspan="6">&nbsp;</th>
            </tr>

            <tr>
                <!--[option Notes]-->
            </tr>

            <tr>
                <th colspan="3">Notes</th>
            </tr>

            <tr>
                <td align="left" colspan="3" valign="top">[Notes]</td>
            </tr><!--[/option]-->
        </table><!--[divider]-->
        <!--[option has Items]-->
        [pagebreak] <!--[/option]-->
        <!--[option Items]-->

        <table style="width: 5in; height: 3in; border: solid 1px black">
            <tr>
                <th align="left" colspan="2">[Name]</th>
            </tr>

            <tr>
                <td align="left" style="font-weight: bold" width="50%">[Type]
                    [Tally Level]</td>

                <td align="left" style="font-weight: bold" width="50%">[!Bonus
                    0]+[Bonus] Traits[/!]</td>
            </tr>

            <tr>
                <td style="font-weight: bold">[Subtype]</td>

                <td style="font-weight: bold">[!DamageType][DamageAmount]
                    [DamageType][/!]</td>
            </tr>

            <tr>
                <!--[divider <br>]-->

                <td style="font-weight: bold" valign="top">
                    [repeat][Tempers][/repeat]</td>

                <td valign="top">[!Conceal]<b>Concealability:</b>
                    [Conceal][/!]</td>
            </tr>

            <tr>
                <td align="left" valign="top">[repeat][Abilities][/repeat]</td>

                <td align="left" valign="top">[repeat][Negatives][/repeat]</td>
            </tr><!--[divider]-->
            <!--[!Appearance]-->

            <tr>
                <td colspan="2"><b>Appearance:</b> [Appearance]</td>
            </tr><!--[/!]-->
            <!--[!Powers]-->

            <tr>
                <td colspan="2"><b>Powers:</b> [Powers]</td>
            </tr><!--[/!]-->

            <tr>
                <td align="left" valign="bottom">[PrintDate]</td>

                <td align="right" valign="bottom">[CharName]</td>
            </tr>
        </table><!--[/option]-->
        <!--[option has Locations]-->
        [pagebreak] <!--[/option]-->
        <!--[option Locations]-->

        <table style="width: 5in; height: 3in; border: solid 1px black">
            <tr>
                <th align="left" colspan="2">[Name]</th>
            </tr>

            <tr>
                <td align="left" style="font-weight: bold" width="50%">[Type]
                    [Tally Level]</td>

                <td align="left" width="50%"><b>Owner:</b> [Owner]</td>
            </tr>

            <tr>
                <td><b>Access:</b> [Access]</td>

                <td>[!Affinity]<b>Affinity:</b> [Affinity][/!]</td>
            </tr>

            <tr>
                <td style="font-weight: bold">[SecurityTraits] Security Traits</td>

                <td>[!Totem]<b>Totem:</b> [Totem][/!]</td>
            </tr>

            <tr>
                <td style="font-weight: bold">[SecurityRetests] Security
                    Retests</td>

                <td><b>Gauntlet/Shroud:</b> [Gauntlet][/!]</td>
            </tr><!--[!Where]-->

            <tr>
                <td colspan="2"><b>Where:</b> [Where]</td>
            </tr><!--[/!]-->
            <!--[!Appearance]-->

            <tr>
                <td colspan="2"><b>Appearance:</b> [Appearance]</td>
            </tr><!--[/!]-->
            <!--[!Security]-->

            <tr>
                <td colspan="2"><b>Security:</b> [Security]</td>
            </tr><!--[/!]-->
            <!--[!Umbra]-->

            <tr>
                <td colspan="2"><b>Umbra:</b> [Umbra]</td>
            </tr><!--[/!]-->

            <tr>
                <td colspan="2"><!--[!#Links 0]-->
                    <b>Moon Bridges/Trods:</b> <!--[/!]-->
                    [divider , ][repeat][Links][/repeat][divider]</td>
            </tr>

            <tr>
                <td align="left" valign="bottom">[PrintDate]</td>

                <td align="right" valign="bottom">[CharName]</td>
            </tr>
        </table><!--[/option]-->
        <!--[dateformat mmmm d, yyyy]-->
        <!--[option Actions]-->
        <br>
        [pagebreak]<br>

        <h3>[Name] Actions</h3>[GameDate]<br>

        <table width="75%">
            <!--[repeat]-->

            <tr>
                <th colspan="4">
                    <p style="text-align: left">[Type] Actions</p>
                </th>
            </tr>

            <tr>
                <td width="25%"><b>Level:</b> [Level]</td>

                <td width="25%"><b>Unused:</b> [Unused]</td>

                <td width="25%"><b>of Total:</b> [Total]</td>

                <td width="25%"><b>Growth:</b> [Growth]</td>
            </tr>

            <tr>
                <td colspan="4"><b>Actions:</b> [Action]</td>
            </tr>

            <tr>
                <td colspan="4"><b>Results:</b> [Result]</td>
            </tr><!--[/repeat]-->
        </table><!--[/option]-->
        <!--[option has Rumors]-->
        <br>
        [pagebreak]<br>

        <h3>[Name] Rumors</h3>[GameDate]<br>

        <table width="75%">
            <!--[/option]-->
            <!--[option Rumors]-->

            <tr>
                <th width="100%">
                    <p style="text-align: left">[!Level]Level [Level] [/!][Title]
                        Rumors</p>
                </th>
            </tr>

            <tr>
                <td colspan="4">
                    <p>[Rumor]</p>

                    <p></p>
                </td>
            </tr><!--[/option]-->
            <!--[option has Rumors]-->
        </table><!--[/option]-->
        <!--[option has History]-->
        <br>
        [pagebreak]<br>

        <h3>[Name] Experience History</h3>[DateRange] <!--[/option]-->
        <!--[option History][dateformat yyyy-mmm-dd]-->

        <table width="75%">
            <tr>
                <td width="20%"></td>

                <td width="20%"></td>

                <td width="10%"></td>

                <td width="50%"></td>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <th colspan="4">Current Experience ([PrintDate])</th>
            </tr>

            <tr>
                <td align="left" colspan="4">[PPUnspent] Unspent / [PPEarned]
                    Earned</td>
            </tr>

            <tr>
                <th>Date</th>

                <th>Change</th>

                <th>U/E</th>

                <th>Reason</th>
            </tr><!--[repeat]-->

            <tr>
                <td align="left">[Date]</td>

                <td align="left">[ChangeText]</td>

                <td align="left">[Unspent]/[Earned]</td>

                <td align="left">[Reason]</td>
            </tr><!--[/repeat]-->
        </table><!--[/option]-->
    </div>
</div>

<script id="htmlGrapevineSheet" type="text/template">

</script>

</body>
</html>
