<% _.each(_.zip(["Physical", "Social", "Mental"], ["focus_physicals", "focus_socials", "focus_mentals"]), function(z) { %>
<% var prettyName = z[0]; %>
<% var category = z[1]; %>
<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    <li data-role="list-divider"><%= prettyName %> Focus<span class="ui-li-count"><%= creation.remaining_picks(category) %></span></li>
    <% _.each(_.range(2, 0, -1), function(i) { %>
    <% var n = category + "_" + i + "_remaining"; %>
    <% _.each(creation.get(category + "_" + i + "_picks"), function(st) { %>
    <li data-icon="delete">
        <a href="javascript: void(0)"><%= st.get("name") %></a>
        <a href="#charactercreate/simpletraits/<%= category %>/<%= character.id %>/unpick/<%= st.linkId() %>/<%= i %>">Delete</a>
    </li>
    <% }); %>
    <% _.each(_.range(creation.get(n)), function() { %>
    <li><a href="#charactercreate/simpletraits/<%= category %>/<%= character.id %>/pick/<%= i %>">Pick <%= prettyName %> Focus</a></li>
    <% }) %>
    <% }); %>
</ul>
<% }); %>