<div role="main" class="ui-content force-printing-page-break">
    <div id="ccv-description"></div>
    <div id="ccv-simpletext"></div>
    <div id="ccv-next-one"></div>
    <div id="ccv-therest"></div> <!-- Needs to become the actual rest of it rather than just a stand-in for the old behavior -->
    <!--
    <div id="cpp-settings" class="hidden-when-printing"></div>
    <div id="cpp-header"></div>
    <div id="cpp-firstbar"></div>
    <div id="cpp-secondbar"></div>
    <div id="cpp-attributes"></div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-blood" class="ui-block-a"></div>
        <div class="ui-block-b">
            <div id="cpp-willpower"></div>
            <div id="cpp-morality"></div>
        </div>
        <div class="ui-block-c" id="cpp-health-levels">
        </div>
    </div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-total-a" class="ui-block-a"></div>
        <div id="cpp-total-b" class="ui-block-b"></div>
        <div id="cpp-total-c" class="ui-block-c"></div>
    </div>
    <div id="cpp-skills"></div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-bottom-one-a" class="ui-block-a"></div>
        <div id="cpp-bottom-one-b" class="ui-block-b"></div>
        <div id="cpp-bottom-one-c" class="ui-block-c"></div>
    </div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-bottom-two-a" class="ui-block-a"></div>
        <div id="cpp-bottom-two-b" class="ui-block-b"></div>
        <div id="cpp-bottom-two-c" class="ui-block-c"></div>
    </div>
    <div id="cpp-extended-print-text" class="ui-content">
        
    </div>
    -->
</div>