<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" category="merits">
    <li data-role="list-divider">Merits<span class="ui-li-count"><%= creation.remaining_picks("wta_merits") %></span></li>
    <% _.each(_.range(1, -1, -1), function(i) { %>
    <% var n = "wta_merits_" + i + "_remaining"; %>
    <% _.each(creation.get("wta_merits_" + i + "_picks"), function(st) { %>
    <li data-icon="delete">
        <a href="javascript: void(0)"><%= st.get("name") %> x<%= st.get("value") %></a>
        <a href="#charactercreate/simpletraits/wta_merits/<%= character.id %>/unpick/<%= st.linkId() %>/<%= i %>">Delete</a>
    </li>
    <% }); %>
    <% _.each(_.range(creation.get(n)), function() { %>
    <li><a href="#charactercreate/simpletraits/wta_merits/<%= character.id %>/pick/<%= i %>">Pick merit</a></li>
    <% }); %>
    <% }); %>
</ul>

<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    <li data-role="list-divider">Flaws<span class="ui-li-count"><%= creation.remaining_picks("wta_flaws") %></span></li>
    <% _.each(_.range(1, -1, -1), function(i) { %>
    <% var n = "wta_flaws_" + i + "_remaining"; %>
    <% _.each(creation.get("wta_flaws_" + i + "_picks"), function(st) { %>
    <li data-icon="delete">
        <a href="javascript: void(0)"><%= st.get("name") %> x<%= st.get("value") %></a>
        <a href="#charactercreate/simpletraits/wta_flaws/<%= character.id %>/unpick/<%= st.linkId() %>/<%= i %>">Delete</a>
    </li>
    <% }); %>
    <% _.each(_.range(creation.get(n)), function() { %>
    <li><a href="#charactercreate/simpletraits/wta_flaws/<%= character.id %>/pick/<%= i %>">Pick flaw</a></li>
    <% }); %>
    <% }); %>
</ul>

<a href="#charactercreate/complete/<%= character.id %>" class="ui-btn">
    Complete Character Creation!
</a>