<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    <li data-role="list-divider">Gifts<span class="ui-li-count"><%= creation.remaining_picks("wta_gifts") %></span></li>
    <% _.each(_.range(2, 0, -1), function(i) { %>
    <% var n = "wta_gifts_" + i + "_remaining"; %>
    <% _.each(creation.get("wta_gifts_" + i + "_picks"), function(st) { %>
    <li data-icon="delete">
        <a href="javascript: void(0)"><%= st.get("name") %> x<%= st.get("value") %></a>
        <a href="#charactercreate/simpletraits/wta_gifts/<%= character.id %>/unpick/<%= st.linkId() %>/<%= i %>">Delete</a>
    </li>
    <% }); %>
    <% _.each(_.range(creation.get(n)), function() { %>
    <li><a href="#charactercreate/simpletraits/wta_gifts/<%= character.id %>/pick/<%= i %>">Pick affinity gifts at rating <%= i %></a></li>
    <% }); %>
    <% }); %>
</ul>
