<%= left_rc_index %>
<% var headers = ["id", "createdAt", "category", "name", "type", "old_value", "value", "old_free_value", "free_value", "old_cost", "cost", "old_text", "new_text"]; %>
<table data-role="table" class="ui-responsive table-stroke">
    <thead>
    <tr>
        <% _.each(headers, function (h, i) { %>
        <th data-priority="<%= i + 1 %>"><%= h %></th>
        <% }); %>
    </tr>
    </thead>
    <tbody>
    <% _.each(_.slice(logs, left_rc_index, idForPickedIndex + 1), function (log, i) { %>
    <tr>
        <% _.each(headers, function (h) { %>
        <td><%= format_entry(log, h) %></td>
        <% }); %>
    </tr>
    <% }); %>
    </tbody>
</table>
