<p>
    <label for="slider">Point it time:</label>
    <div data-role="rangeslider">
        <input type="range" name="historyBaseRange" id="sliderbaserange" value="<%= left_rc_index %>" min="0" max="<%= logs.length - 1 %>">
        <input type="range" name="historyChangePicker" id="slider" value="<%= idForPickedIndex %>" min="0" max="<%= logs.length - 1 %>">
    </div>
    <input type="range" name="approvalChangePicker" id="approval-slider" value="<%= approval_index %>" min="0" max="<%= approvals.length %>">
    <% _.each(logs, function (log, i) { %>
    <input type="hidden" value="<%= log.id %>" id="history-changes-<%= i %>" />
    <% }); %>
    <% _.each(approvals, function (approval, i) { %>
    <input type="hidden" value="<%= approval.id %>" id="approval-changes-<%= i %>" />
    <% }); %>
</p>
