<div role="main" class="ui-content">
    <div id="cpp-header"></div>
    <div id="cpp-firstbar"></div>
    <div id="cpp-secondbar"></div>
    <div id="cpp-attributes"></div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-blood" class="ui-block-a"></div>
        <div class="ui-block-b">
            <div id="cpp-willpower"></div>
            <div id="cpp-morality"></div>
        </div>
        <div class="ui-block-c" id="cpp-health-levels">
        </div>
    </div>
    <div id="cpp-skills"></div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-bottom-one-a" class="ui-block-a"></div>
        <div id="cpp-bottom-one-b" class="ui-block-b"></div>
        <div id="cpp-bottom-one-c" class="ui-block-c"></div>
    </div>
    <div class="ui-grid-b ui-responsive">
        <div id="cpp-bottom-two-a" class="ui-block-a"></div>
        <div id="cpp-bottom-two-b" class="ui-block-b"></div>
        <div id="cpp-bottom-two-c" class="ui-block-c"></div>
    </div>
</div>