<div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all">
        <h3>Profile</h3>
        <div id="user-settings-profile-abs-form"></div>
    </div>
    <hr>
    <div class="ui-body ui-body-a ui-corner-all">
        <h3>Facebook</h3>
        <div id="facebook-account-linking"></div>
    </div>
    <hr>
    <div class="ui-body ui-body-a ui-corner-all">
        <h3>Patronage</h3>
        <div id="usp-paypal-button"></div>
        <form class="ui-filterable">
            <input id="usp-patronage-list-filter" data-type="search">
        </form>
        <div id="usp-patronage-list-region">
            <ul id="usp-patronage-list" data-role="listview" data-inset="true" data-filter="true" data-input="#usp-patronage-list-filter">
            </ul>
        </div>
    </div>
</div>